@model DingdongBook.Models.ACCOUNTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACCOUNTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
