@model IEnumerable<DingdongBook.Models.ACCOUNTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTHORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
