@model DingdongBook.Models.COMMENTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COMMENTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCORE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCORE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_LIKE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_LIKE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_DISLIKE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_DISLIKE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
