@model IEnumerable<DingdongBook.Models.COMMENTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_LIKE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_DISLIKE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_LIKE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_DISLIKE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
