@model IEnumerable<DingdongBook.Models.COMMENT_FEEDBACK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ATTITUDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMENTS.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ATTITUDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENTS.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
