@model DingdongBook.Models.ORDERS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ORDERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_START)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_START)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_GET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_GET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
