@model IEnumerable<DingdongBook.Models.ORDERS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_START)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_GET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_START)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_GET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
